@page
@model Proiect3._0.Pages.Membri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #e6e6fa;
    }
</style>

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membru[0].NumeMembru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membru[0].Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membru[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membru[0].Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membru) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeMembru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>


            </td>
        </tr>
}
    </tbody>
</table>
